# API
fastapi
uvicorn
python-multipart
psycopg2-binary
python-dotenv
openpyxl

# Tests (TestClient FastAPI)
httpx

# Documentation
mkdocs
mkdocs-material
mkdocs-material-extensions
pymdown-extensions
